@import './variable.scss';

html,
body {
  font-family: PingFang SC,STHeitiSC-Light,Helvetica-Light,arial,sans-serif,Droid Sans Fallback;
  font-weight: normal;
  background-color: $color-bg-7;
}

.normal-btn {
  width: 100%;
  padding: 20px 10px;
  font-size: $font-size-medium-x;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 25px;
  background-color: transparent;

  &.bg-orange {
    margin-bottom: 15px;
    color: $color-white;
    background-color: $color-orange-m;
  }

  &.bg-white {
    color: $color-orange-m;
    background-color: $color-white;
  }
}

.login,
.register {
  .field-item {
    margin-bottom: 30px;

    .item-content {
      display: flex;
      flex-wrap: nowrap;
      padding: 8px 0 10px;
      border-bottom: 2px solid $color-orange-l;
      align-items: center;

      &.error {
        color: $color-red;
        border-bottom-color: $color-red;

        input {
          color: $color-red;
        }
      }
    }

    .error-message {
      margin-top: 10px;
      font-size: 16px;
      line-height: 1.5;
      color: $color-red;
    }

    label {
      color: $color-gray;
    }

    .iconfont {
      margin-right: 8px;
      font-size: $font-size-large-x;
    }

    input {
      flex: 1;
      border: none;
      outline: none;
      font-size: 14px;
    }
  }

  .bg-orange {
    margin-bottom: 0;
  }
}

.popup-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 200px;
  z-index: 3;
  padding: 40px 25px 0;
  background-color: $color-white;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.loading-container {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s;
}

/* .fade-leave-active below version 2.1.8 */
.fade-enter,
.fade-leave-to {
  transform: translate3d(100%, 0, 0);
}