// 颜色定义规范
$color-white: #FFF;
$color-orange: #FC5926;
$color-orange-s: rgb(253, 108, 98);
$color-orange-m: #F77F56;
$color-orange-l: #FE9E68;
$color-black: #424242;
$color-light-black: #4C4C4C;
$color-gray: #989898;
$color-red: #B00020;
$color-red-s: #9E1D1D;
$color-red-m: #FF0000;
$color-text-l: rgb(241, 241, 241);
$color-bg-1: #F8F8F8;
$color-bg-2: #F7F7F7;
$color-bg-3: #F5F5F5;
$color-bg-4: #F2F3F4;
$color-bg-5: #E4E4E4;
$color-bg-6: #EFDCD1;
$color-bg-7: #FFFEFC;


// 字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;