// 颜色定义规范
$white: #FFF;
$orange: #FC5926;
$light-orange: #FE9E68;
$login-btn: #F77F56;
$brown: #A88A72;
$shallow-white: #EBE9E3;
$shallow-brown: #CCC1B6;
$black: #424242;
$drak-black: #0E0B08;
$drak-green: #575534;
$gray: #989898;
$drak-orange: #9B553A;
$bg-color: #FFFeFC;
$error-message: #B00020;
$color-highlight-background: rgb(253, 108, 98);
$color-text-l: rgb(241, 241, 241);

// search bg
// $search-input-bg: #FCFBFC;
$search-input-bg: #F7F7F7;

// homepage nav icon
$tab-border: #F5F5F5;
$tab-font-gray: #4C4C4C;


// singer
$singer-list-bg: #F2F3F4;
$list-item-border-bottom: #E4E4E4;

// 字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;