// 颜色定义规范
$white: #FFF;
$orange: #FC5926;
$light-orange: #FE9E68;
$login-btn: #F77F56;
$brown: #A88A72;
$shallow-white: #EBE9E3;
$shallow-brown: #CCC1B6;
$black: #424242;
$drak-black: #0E0B08;
$drak-green: #575534;
$gray: #989898;
$drak-orange: #9B553A;
$bg-color: #FFFeFC;
$error-message: #B00020;

// search bg
$search-input-bg: #FCFBFC;

// 字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;