// 颜色定义规范
$colors: #EBE9E3;
// $color: #CCC1B6
// $color: #0E0B08
// $color: #575534
// $color: #FC5926
// $color: #9B553A
// $color: #A88A72

// 字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;